.headerImg {
width: 80px;
}

.headerName {
    font-size: 40px;
    color: #0088D3;
}

.navHeader {
    background-color: #0089d342;
}

.navLink {
    color: white;
    font-weight: 400;
}
 
.navLink:hover {
    background: rgba(117, 115, 115, 0.904);
    color: black;
    border-radius: 20px;
}
